<h1>Articles listing page</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Placeholder</th>
      <!--<th>Details</th> %>-->
     </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %>
        <td><%= article.description %>
        <td>Placeholder</td>
        <!--<td> <%= link_to('Show', article) %></td>-->
        
      </tr>    
    <% end %>
    </tbody>
</table>

